{{ partial "head.html" . }}
{{ partial "header.html" . }}

<section class="wrapper style1">
  <div class="container">
    <div id="content">

      <div style="text-align:center">
	<h2> {{.Data.Singular | title }} : {{.Title}} </h2>
      </div>
      
      <!-- 記事一覧 -->
      <ul class="list">
	{{ range (.Paginator 10).Pages }}
	{{ .Render "li" }}
	{{ end }}
      </ul>
      
      <!--次のページへ的なやつ-->
      {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
      <div>
	<nav role="pagination">
	  {{ if .Paginator.HasPrev }}
	  <a href="{{ .Paginator.Prev.URL }}">Before</a>
	  {{ end }}
	  <span class="">Page {{ .Paginator.PageNumber }} / {{ .Paginator.TotalPages }}</span>
	  {{ if .Paginator.HasNext }}
	  <a href="{{ .Paginator.Next.URL }}">Next</a>
	  {{ end }}
	</nav>
      </div>
      {{ end }}
    </div>
  </div>
</section>
      
{{ partial "footer.html" .}}
