{{ if .IsPage }}
          <section>
	    <!-- カテゴリ -->
	    {{if .Params.categories}}
	    <div>
	      <ul class = "menu">
		<li>Category</li>
		{{range .Params.categories}}
		<li><a href="/categories/{{ . }}/">{{ . }}</a></li>
		{{end}}
	      </ul>
	    </div>
	    {{end}}
	    <!-- End カテゴリ -->
	    <!--  タグ  -->
	    {{if .Params.tags}}
	    <div>
	      <ul class = "menu">
		<li>Tag</li>
		{{range .Params.tags}}
		<li><a href="/categories/{{ . }}/"> #{{ . }} </a></li>
		{{end}}
	      </ul>
	    </div>
	    {{end}}
	    <!--  End タグ  -->
	  </section>
	  <br>
          <nav>
	    {{if .PrevInSection}}
	    <div style="float:left;width:50%;">
	      <a href="{{.PrevInSection.RelPermalink}}"> << {{.PrevInSection.Title}}</a>
	    </div>
	    {{end}}
	    {{if .NextInSection}}
	    <div style="float:right;text-align:right;width:50%;">
	      <a href="{{.NextInSection.RelPermalink}}">{{.NextInSection.Title}} >></a>
	    </div>
	    {{end}}
	  </nav>
{{end}}
        </div> <!-- End Content-->
    </div>
    <div class="4u 12u(narrower)">
	<div id="sidebar">      
	  <!-- Sidebar -->
	  <section>
	    <!--Categories and tags-->
	    <h3>Categories</h3>
	    <ul class="links">
	      {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
	      <li>
		<a href="/categories/{{ $name | urlize }}">{{ $name }}</a> ({{ $taxonomy.Count }})
	      </li>
	      {{ end }}
	    </ul>
	    
	    <h3>Tags</h3>
	    <ul class="links">
	      {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
	      <li>
		<a href="/tags/{{ $name | urlize }}">{{ $name }}</a> ({{ $taxonomy.Count }})
	      </li>
	      {{ end }}
	    </ul>
	    
	    <h3>Recent Posts</h3>
	    <ul class="links">
	      {{ range where .Site.Pages "Section" "blog" | first 5 }}
	      <li><a href="{{.RelPermalink}}">{{.Title}}</a></li>
	      {{ end }}
	    </ul>
	  </section>
	  
	  <section>
	    <h3>Link</h3>
	    <ul class="links">
	      <!-- <li><a href="#">何か</a></li> -->
	    </ul>
	  </section>
	  
	</div>
      </div>
    
    </div>
  </div>
</section>
