          {{ if .IsPage }}

	  <div id="disqus_thread"></div>
	  <script>
	  (function() { // DON'T EDIT BELOW THIS LINE
		  var d = document, s = d.createElement('script');
		  s.src = '//cormoran-web.disqus.com/embed.js';
		  s.setAttribute('data-timestamp', +new Date());
		  (d.head || d.body).appendChild(s);
	  })();
	  </script>
	  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
	  <script id="dsq-count-scr" src="//cormoran-web.disqus.com/count.js" async></script>

          <br>
          <nav>
	    {{if .PrevInSection}}
	    <div style="float:left;width:50%;">
	      <a href="{{.PrevInSection.RelPermalink}}"> << {{.PrevInSection.Title}}</a>
							    </div>
	    {{end}}
	    {{if .NextInSection}}
	    <div style="float:right;text-align:right;width:50%;">
	      <a href="{{.NextInSection.RelPermalink}}">{{.NextInSection.Title}} >></a>
	    </div>
	    {{end}}
	  </nav>
	  
	  {{end}}
        </div>
    </div>
    <div class="4u 12u(narrower)">
	<div id="sidebar">      
	  <!-- Sidebar -->
	  <section>
	    <!--Contests and tags-->
	    <h3>Contest List</h3>
	    <ul class="links">
	      {{ range $name, $taxonomy := .Site.Taxonomies.contests }}
	      <li>
		<a href="/contests/{{ $name | urlize }}">{{ $name }}</a> ({{ $taxonomy.Count }})
	      </li>
	      {{ end }}
	    </ul>
	    
	    <h3>Problem Types</h3>
	    <ul class="links">
	      {{ range $name, $taxonomy := .Site.Taxonomies.problemtypes }}
	      <li>
		<a href="/problemtypes/{{ $name | urlize }}">{{ $name }}</a> ({{ $taxonomy.Count }})
	      </li>
	      {{ end }}
	    </ul>
	    
	    <h3>Recent Posted</h3>
	    <ul class="links">
	      {{ range where .Site.Pages "Section" "procon" | first 5 }}
	      <li><a href="{{.RelPermalink}}">{{.Title}}</a></li>
	      {{ end }}
	    </ul>
	  </section>
	  
	  <section>
	    <h3>Link</h3>
	    <ul class="links">
	      <!-- <li><a href="#">何か</a></li> -->
	    </ul>
	  </section>
	  
	</div>
      </div>
    
    </div>
  </div>
</section>
